html,
body {
	min-height: 100%;
	font-size: 1.05rem;
}
body {
	height: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

section#welcome {
	width: 100%;
	/* background-color: rgb(30 30 30); */
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-height: 400px;
}

section#welcome div {
	width: 100%;
	max-width: 800px;
	background-color: white;
	border-radius: 24px;
	padding: 8px 24px;
	height: 100%;
}

#effect {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 400px;
	overflow: hidden;
	animation: reduceOpacity 1s ease-out;
	animation-iteration-count: infinite;
	transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
}
@keyframes reduceOpacity {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.8;
	}

	100% {
		opacity: 1;
	}
}

#effect::before {
	outline: 1px solid red;
	overflow: visible;
	top: 100px;
	content: '';
	display: block;
	position: absolute;
	background-position: 50%;
	background-repeat: repeat-x;
	background-size: 2000px;
	width: 20000px;
	height: 300px;
	transition: 0.15s all ease;
	background-image: url('glow-effect.png');
	animation: parallax 20s linear;
	animation-iteration-count: infinite;
	mask: linear-gradient(to right, black 0%, black 100%);
}

@keyframes parallax {
	0% {
		transform: translate3d(-50%, 0px, 0px);
	}

	100% {
		transform: translate3d(0%, 0px, 0px);
	}
}

section#progress {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

section#progress > div {
	width: 100%;
	max-width: 800px;
	background-color: white;
	border-radius: 24px;
	padding: 36px 24px;
	height: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 24px;
	grid-template-columns: repeat(2, 1fr);
}

.boss-card {
	margin: auto;
	--shadow-color: 200 150 0;
	box-shadow: 0 8px 16px -4px rgb(var(--shadow-color) / 0.6),
		0 4px 6px -4px rgb(var(--shadow-color) / 0.6);

	border-radius: 12px;
	overflow: hidden;
	width: 220px;
	height: auto;
}

.boss-card img {
	/* width: 220px; */
	/* height: auto; */
	object-fit: fill;
}

.App {
	padding: 12px 24px;
	background-color: rgb(230, 230, 235);
}
